body, html {
  overflow-y: scroll;
  height: 100%;
}

header {
  font-family: arial;
  margin-top: 16px;
  padding-right: 18px;
}

ul {
  list-style: none;
}

li {
  display: inline;
  padding: 8px;
}

header a {
  font-size: 13px;
  font-weight: lighter;
  color: #666;
}

header a:hover {
  color: #000;
}

.th {
  font-size: 18px;
  padding-bottom: 4px;
  vertical-align: middle;
  color: rgba(0, 0, 0, .5);
}

.bell {
  font-size: 10px;
  padding: 5px;
  color: #fff;
  border-radius: 50%;
  background: rgba(0, 0, 0, .5);
}

.th:hover {
  color: #000;
}

.bell:hover {
  background: #000;
}

header img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.top-menu-mobile {
  display: none;
}

main {
  clear: both;
  text-align: center;
}

.logo {
  padding-top: 150px;
}

.search {
  clear: both;
  overflow: scroll;
  width: 35%;
  height: 40px;
  margin: 30px auto 32px;
  border: 1px solid #ccc;
}

.search input {
  font-size: 16px;
  float: left;
  width: 90%;
  height: 30px;
  margin-top: 4px;
  padding-left: 12px;
  border: none;
}

.search-input:focus {
  outline: none;
}

.search-img-mic {
  float: right;
  width: 25px;
  height: 25px;
  margin: 8px 8px 0;
}

.search-microscope {
  display: none;
}

.search-border {
  border: 1px solid #4d90fe;
}

.search-buttons button {
  font-size: 13px;
  font-weight: 800;
  margin: 0 2px;
  padding: 8px 16px;
  color: #757575;
  border: none;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}

.search-buttons button:hover {
  color: #222;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

footer {
  font-size: small;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  background: rgb(242, 242, 242);
}

footer ul {
  padding: 0;
}

footer a {
  padding: 0 8px;
  color: rgba(0, 0, 0, .7);
}

footer a:hover {
  color: rgba(0, 0, 0, .7);
}

.footer-location {
  display: none;
}

.footer-left {
  float: left;
  padding-left: 16px;
}

.footer-right {
  float: right;
  padding-right: 16px;
  text-align: right;
}


/*TOOLTIPS*/

.thToolTip {
  position: absolute;
  top: 54px;
  right: 14px;
  display: none;
}

.bellToolTip {
  position: absolute;
  top: 54px;
  right: 22px;
  display: none;
}

@media (max-width: 480px) {
  header {
    margin-top: 0;
    padding-right: 4px;
  }
  .top-menu-desktop {
    display: none;
  }
  .top-menu-mobile {
    display: block;
    margin-top: 4px;
    margin-left: -30px;
    text-transform: uppercase;
  }
  .top-menu-mobile a {
    font-size: 0.9em;
    font-weight: bold;
    color: #777;
  }
  a.selected-mobile {
    padding: 0 8px 16px;
    color: #4d90fe;
    border-bottom: 2px solid #4d90fe;
  }
  .logo {
    padding-top: 80px;
  }
  img.logo {
    max-width: 42%;
  }
  .search {
    width: 95%;
    margin-top: 24px;
  }
  .search-img-mic {
    display: none;
  }
  .search input {
    width: 85%;
  }
  .search-microscope {
    display: inline;
    float: right;
    margin-right: -2px;
    background: #4d90fe;
  }
  .search-microscope span {
    font-size: 14px;
    margin-top: 4px;
    padding: 8px 12px 16px;
    color: #fff;
  }
  .search-buttons {
    display: none;
  }
  footer {
    position: absolute;
    height: 145px;
    margin-bottom: -90px;
    text-align: center;
  }
  .footer-location {
    font-weight: bold;
    display: inline-block;
    width: 100%;
    margin-top: 0;
    padding: 0 0 8px;
    border-bottom: 1px solid #ddd;
  }
  .location-status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 50%;
    background: #999;
  }
  footer ul {
    margin-top: 18px;
    text-align: center;
  }
  footer a {
    color: #787878;
  }
  .footer-right {
    float: none;
  }
  .footer-left {
    float: none;
  }
  .thToolTip {
    right: 2px;
  }
}